 * {
    box-sizing: border-box;
}
.container {
    
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: lightgreen;
    height: 120px;
    font-weight: bold;

}

nav {
    display: flex;
    background-color: darkslategray;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: darkslategray;
    padding: 0px 28px;
    
    
    
}

article {
    display: flex;
    font-size: 18px;

    
    
}
article div{
    
    border: 1px solid green;
    
}
#bus,
#spo {
    border-left: 0;
}

article div p{
    
    padding: 20px 0px 20px 20px;
}
article div span{
    font-size: 22px;
    font-weight: bold;

}
@media screen and (max-width: 714px) {
    article {
        
        flex-wrap: wrap;
        width: 100%;
    }
    #bus,
    #spo {
        border-top: 0;
        border-left: 1px solid green ;
    }

   
   
}
@media screen and (max-width: 714px) {
    article{
        flex-wrap: wrap;
        
    }
    nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    header {
        font-size: 20px;
        height: 50px;
        font-weight: bold;
        }
}
@media screen and (max-width: 714px){
    
    

}
@media screen and (max-width: 714px) {
   
}